.root{
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  font-size: 20px;

  .ava{
    width: 100px;
    height: 100px;
  }

  .detailed{
width: 100px;
height: 40px;
background-color: yellow;
border-radius: 10px;
  }
  .favourites{
width: 100px;
height: 40px;
background-color: yellow;
border-radius: 10px;
  }
}