.lists{
display: flex;
gap: 40px;

  .listRegular{
  font-size: 25px;
}

.startText{
  margin-top: 90px;
  font-size: 40px;
  width: 700px;
  text-align: center;
}
.favorite{
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  .listFavorite{
  font-size: 25px;

  }
}
}

